#CGB {
    background: rgb(218, 37, 178);
    color: white;
}

html {
    background: url(pic1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#ca1 {
    position: absolute;
    animation-name: ca1;
    animation-duration:10s ;
    animation-timing-function:linear ;
    animation-direction: alternate ;
    animation-play-state: running;
    animation-iteration-count:infinite ;
    }
    

@keyframes ca1 {
    0% {left: 0%;bottom: 0%;}
    20% {left: 20%;bottom: 0%;}
    40% {left: 30%;bottom: 0%;}
    60% {left: 50%;bottom: 0%;}
    80% {left: 70%;bottom: 0%;}
    100% {left: 90%;bottom: 0%;}
}

#ca2 {
    margin-top: 200px;
    margin-left: 100px;
    position: absolute;
    animation-name: ca2;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes ca2 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(100px, -100px) rotateY(0deg);
    }
    40% {
        transform: translate(100px, 10px) rotateY(0deg);
    }
    41% {
        transform: translate(100px, 10px) rotateY(180deg);
    }
    50% {
        transform: translate(200px, 40px) rotateY(180deg);
    }
    65% {
        transform: translate(10px, -10px) rotateY(180deg);
    }
    70% {
        transform: translate(50px, 30px) rotateY(180deg);
    }
    71% {
        transform: translate(50px, 20px) rotateY(0deg);
    }
    75% {
        transform: translate(70px, 25px) rotateY(0deg);
    }
    80% {
        transform: translate(100px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(300px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(300px, 10px) rotateY(180deg);
    }
}

@-webkit-keyframes ca2 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(100px, -100px) rotateY(0deg);
    }
    40% {
        transform: translate(100px, 10px) rotateY(0deg);
    }
    41% {
        transform: translate(100px, 10px) rotateY(180deg);
    }
    50% {
        transform: translate(200px, 40px) rotateY(180deg);
    }
    65% {
        transform: translate(10px, -10px) rotateY(180deg);
    }
    70% {
        transform: translate(50px, 30px) rotateY(180deg);
    }
    71% {
        transform: translate(50px, 20px) rotateY(0deg);
    }
    75% {
        transform: translate(70px, 25px) rotateY(0deg);
    }
    80% {
        transform: translate(100px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(300px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(300px, 10px) rotateY(180deg);
    }
}

@-moz-keyframes ca2 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(100px, -100px) rotateY(0deg);
    }
    40% {
        transform: translate(100px, 10px) rotateY(0deg);
    }
    41% {
        transform: translate(100px, 10px) rotateY(180deg);
    }
    50% {
        transform: translate(200px, 40px) rotateY(180deg);
    }
    65% {
        transform: translate(10px, -10px) rotateY(180deg);
    }
    70% {
        transform: translate(50px, 30px) rotateY(180deg);
    }
    71% {
        transform: translate(50px, 20px) rotateY(0deg);
    }
    75% {
        transform: translate(70px, 25px) rotateY(0deg);
    }
    80% {
        transform: translate(100px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(300px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(300px, 10px) rotateY(180deg);
    }
}

@-o-keyframes ca2 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(100px, -100px) rotateY(0deg);
    }
    40% {
        transform: translate(100px, 10px) rotateY(0deg);
    }
    41% {
        transform: translate(100px, 10px) rotateY(180deg);
    }
    50% {
        transform: translate(200px, 40px) rotateY(180deg);
    }
    65% {
        transform: translate(10px, -10px) rotateY(180deg);
    }
    70% {
        transform: translate(50px, 30px) rotateY(180deg);
    }
    71% {
        transform: translate(50px, 20px) rotateY(0deg);
    }
    75% {
        transform: translate(70px, 25px) rotateY(0deg);
    }
    80% {
        transform: translate(100px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(300px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(300px, 10px) rotateY(180deg);
    }
}

#ca3 {
    position: absolute;
    animation-name: ca3;
    animation-duration: 19s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes ca3 {
    0% {
        left: 1200px;
        bottom: 100%;
    }
    1% {
        left: 1200px;
        bottom: 80%;
    }
    30% {
        left: 1200px;
        bottom: 60%;
    }
    100% {
        left: 1200px;
        bottom: 0%;
    }
}

@-webkit-keyframes ca3 {
    0% {
        left: 1200px;
        bottom: 100%;
    }
    1% {
        left: 1200px;
        bottom: 80%;
    }
    30% {
        left: 1200px;
        bottom: 60%;
    }
    100% {
        left: 1200px;
        bottom: 0%;
    }
}

@-moz-keyframes ca3 {
    0% {
        left: 1200px;
        bottom: 100%;
    }
    1% {
        left: 1200px;
        bottom: 80%;
    }
    30% {
        left: 1200px;
        bottom: 60%;
    }
    100% {
        left: 1200px;
        bottom: 0%;
    }
}

@-o-keyframes ca3 {
    0% {
        left: 1200px;
        bottom: 100%;
    }
    1% {
        left: 1200px;
        bottom: 80%;
    }
    30% {
        left: 1200px;
        bottom: 60%;
    }
    100% {
        left: 1200px;
        bottom: 0%;
    }
}

#ca5 {
    margin-left: 0px;
    top: 300px;
    position: absolute;
    animation-name: ca5;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes ca5 {
    0% {
        left: 400px;
        right: 100px;
        bottom: -100px;
    }
    1% {
        left: 400px;
        right: 200px;
        bottom: -100px;
    }
    20% {
        left: 700px;
        right: 300px;
        bottom: -100px;
    }
    40% {
        left: 700px;
        right: 400px;
        bottom: -100px;
    }
    60% {
        left: 400px;
        right: 600px;
        bottom: -100px;
        transform: scalex(-1);
    }
    90% {
        left: 300px;
        right: 700px;
        bottom: -100px;
        transform: scalex(-1);
    }
    100% {
        left: 10px;
        right: 800px;
        bottom: -100px;
        transform: scalex(-1);
    }
}

@-webkit-keyframes ca5 {
    0% {
        left: 400px;
        right: 100px;
        bottom: -100px;
    }
    1% {
        left: 400px;
        right: 200px;
        bottom: -100px;
    }
    20% {
        left: 700px;
        right: 300px;
        bottom: -100px;
    }
    40% {
        left: 700px;
        right: 400px;
        bottom: -100px;
    }
    60% {
        left: 400px;
        right: 600px;
        bottom: -100px;
        transform: scalex(-1);
    }
    90% {
        left: 300px;
        right: 700px;
        bottom: -100px;
        transform: scalex(-1);
    }
    100% {
        left: 10px;
        right: 800px;
        bottom: -100px;
        transform: scalex(-1);
    }
}

@-moz-keyframes ca5 {
    0% {
        left: 400px;
        right: 100px;
        bottom: -100px;
    }
    1% {
        left: 400px;
        right: 200px;
        bottom: -100px;
    }
    20% {
        left: 700px;
        right: 300px;
        bottom: -100px;
    }
    40% {
        left: 700px;
        right: 400px;
        bottom: -100px;
    }
    60% {
        left: 400px;
        right: 600px;
        bottom: -100px;
        transform: scalex(-1);
    }
    90% {
        left: 300px;
        right: 700px;
        bottom: -100px;
        transform: scalex(-1);
    }
    100% {
        left: 10px;
        right: 800px;
        bottom: -100px;
        transform: scalex(-1);
    }
}

@-o-keyframes ca5 {
    0% {
        left: 400px;
        right: 100px;
        bottom: -100px;
    }
    1% {
        left: 400px;
        right: 200px;
        bottom: -100px;
    }
    20% {
        left: 700px;
        right: 300px;
        bottom: -100px;
    }
    40% {
        left: 700px;
        right: 400px;
        bottom: -100px;
    }
    60% {
        left: 400px;
        right: 600px;
        bottom: -100px;
        transform: scalex(-1);
    }
    90% {
        left: 300px;
        right: 700px;
        bottom: -100px;
        transform: scalex(-1);
    }
    100% {
        left: 10px;
        right: 800px;
        bottom: -100px;
        transform: scalex(-1);
    }
}

#ca4 {
    position: absolute;
    animation-name: ca4;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes ca4 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(400px, -200px) rotateY(0deg);
    }
    40% {
        transform: translate(400px, 20px) rotateY(0deg);
    }
    41% {
        transform: translate(400px, 20px) rotateY(180deg);
    }
    50% {
        transform: translate(600px, 60px) rotateY(180deg);
    }
    65% {
        transform: translate(20px, -20px) rotateY(180deg);
    }
    70% {
        transform: translate(100px, 60px) rotateY(180deg);
    }
    71% {
        transform: translate(100px, 40px) rotateY(0deg);
    }
    75% {
        transform: translate(140px, 50px) rotateY(0deg);
    }
    80% {
        transform: translate(200px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(700px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(800px, 20px) rotateY(180deg);
    }
}

@-moz-keyframes ca4 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(400px, -200px) rotateY(0deg);
    }
    40% {
        transform: translate(400px, 20px) rotateY(0deg);
    }
    41% {
        transform: translate(400px, 20px) rotateY(180deg);
    }
    50% {
        transform: translate(600px, 60px) rotateY(180deg);
    }
    65% {
        transform: translate(20px, -20px) rotateY(180deg);
    }
    70% {
        transform: translate(100px, 60px) rotateY(180deg);
    }
    71% {
        transform: translate(100px, 40px) rotateY(0deg);
    }
    75% {
        transform: translate(140px, 50px) rotateY(0deg);
    }
    80% {
        transform: translate(200px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(700px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(700px, 20px) rotateY(180deg);
    }
}

@-webkit-keyframes ca4 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(400px, -200px) rotateY(0deg);
    }
    40% {
        transform: translate(400px, 20px) rotateY(0deg);
    }
    41% {
        transform: translate(400px, 20px) rotateY(180deg);
    }
    50% {
        transform: translate(600px, 60px) rotateY(180deg);
    }
    65% {
        transform: translate(20px, -20px) rotateY(180deg);
    }
    70% {
        transform: translate(100px, 60px) rotateY(180deg);
    }
    71% {
        transform: translate(100px, 40px) rotateY(0deg);
    }
    75% {
        transform: translate(140px, 50px) rotateY(0deg);
    }
    80% {
        transform: translate(200px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(700px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(700px, 20px) rotateY(180deg);
    }
}

@-o-keyframes ca4 {
    0% {
        transform: translate(0, 0) rotateY(0deg)
    }
    30% {
        transform: translate(400px, -200px) rotateY(0deg);
    }
    40% {
        transform: translate(400px, 20px) rotateY(0deg);
    }
    41% {
        transform: translate(400px, 20px) rotateY(180deg);
    }
    50% {
        transform: translate(600px, 60px) rotateY(180deg);
    }
    65% {
        transform: translate(20px, -20px) rotateY(180deg);
    }
    70% {
        transform: translate(100px, 60px) rotateY(180deg);
    }
    71% {
        transform: translate(100px, 40px) rotateY(0deg);
    }
    75% {
        transform: translate(140px, 50px) rotateY(0deg);
    }
    80% {
        transform: translate(200px, 0px) rotateY(0deg);
    }
    90% {
        transform: translate(700px, 0px) rotateY(180deg);
    }
    100% {
        transform: translate(700px, 20px) rotateY(180deg);
    }
}

#ca6 {
    position: absolute;
    animation-name: ca6;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-direction: reverse;
    animation-play-state: running;
    animation-iteration-count: infinite;
}

@keyframes ca6 {
    0% {
        transform: translate(600, 600) rotateY(0deg)
    }
    30% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    40% {
        transform: translate(450px, 200px) rotateY(0deg);
    }
    41% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    50% {
        transform: translate(500px, 250px) rotateY(180deg);
    }
    65% {
        transform: translate(600px, 300px) rotateY(180deg);
    }
    70% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    71% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    75% {
        transform: translate(400px, 250px) rotateY(0deg);
    }
    80% {
        transform: translate(300px, 150px) rotateY(0deg);
    }
    90% {
        transform: translate(200px, 100px) rotateY(180deg);
    }
    100% {
        transform: translate(350px, 150px) rotateY(180deg);
    }
}

@-moz-keyframes ca6 {
    0% {
        transform: translate(600, 600) rotateY(0deg)
    }
    30% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    40% {
        transform: translate(450px, 200px) rotateY(0deg);
    }
    41% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    50% {
        transform: translate(500px, 250px) rotateY(180deg);
    }
    65% {
        transform: translate(600px, 300px) rotateY(180deg);
    }
    70% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    71% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    75% {
        transform: translate(400px, 250px) rotateY(0deg);
    }
    80% {
        transform: translate(300px, 150px) rotateY(0deg);
    }
    90% {
        transform: translate(200px, 100px) rotateY(180deg);
    }
    100% {
        transform: translate(350px, 150px) rotateY(180deg);
    }
}

@-webkit-keyframes ca6 {
    0% {
        transform: translate(600, 600) rotateY(0deg)
    }
    30% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    40% {
        transform: translate(450px, 200px) rotateY(0deg);
    }
    41% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    50% {
        transform: translate(500px, 250px) rotateY(180deg);
    }
    65% {
        transform: translate(600px, 300px) rotateY(180deg);
    }
    70% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    71% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    75% {
        transform: translate(400px, 250px) rotateY(0deg);
    }
    80% {
        transform: translate(300px, 150px) rotateY(0deg);
    }
    90% {
        transform: translate(200px, 100px) rotateY(180deg);
    }
    100% {
        transform: translate(350px, 150px) rotateY(180deg);
    }
}

@-o-keyframes ca6 {
    0% {
        transform: translate(600, 600) rotateY(0deg)
    }
    30% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    40% {
        transform: translate(450px, 200px) rotateY(0deg);
    }
    41% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    50% {
        transform: translate(500px, 250px) rotateY(180deg);
    }
    65% {
        transform: translate(600px, 300px) rotateY(180deg);
    }
    70% {
        transform: translate(450px, 200px) rotateY(180deg);
    }
    71% {
        transform: translate(500px, 200px) rotateY(0deg);
    }
    75% {
        transform: translate(400px, 250px) rotateY(0deg);
    }
    80% {
        transform: translate(300px, 150px) rotateY(0deg);
    }
    90% {
        transform: translate(200px, 100px) rotateY(180deg);
    }
    100% {
        transform: translate(350px, 150px) rotateY(180deg);
    }
}

.button-1 {
    background-color: #12ddf8ee;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #ce15df83;
}

#bg1 {
    margin-left: 450px;
}